<html>
  <head>
    <title>ページが見つかりませんでした。</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body class="error-page">
    <div class="dialog">
      <div>
        <h1>404</h1>
        <p><%= I18n.t 'page_not_found' %></p>
      </div>
      <p><%= I18n.t 'check_url' %></p>
    </div>
    
    <%= link_to I18n.t('back_to_top'), root_url %></a>
  </body>
</html>
